@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;

  background: #E5E5E5 url("/images/circle-background.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

  background-position-x: -159px;
  background-position-y: 720px;
  animation: transitionIn 0.20s;
}

/* Navegação*/

.nav-container{
  height: 184px;

}
.wrapper{
  width: 1255px;
  margin: 0 auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 184px;
  margin-top: 50px;
}
nav ul{
  display: flex;
  margin-top: -100px;
  margin-right: 100px;
}

.nav-items li{
  list-style: none;
  margin-right: 71px;

}
.nav-items li a{
  font-size: 24px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 800;
}
.nav-items li a:hover{
  color: #DAB041;
}

footer h1{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
/*Header*/

.header-container{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

header{
  align-items: center;
/*   justify-content: space-between;
 */  display: flex;
    margin-left: 160px;
  
}
header ul li{
    list-style-type: none;
    margin-bottom: 15px;
}
header .title{
    color: rgb(255, 255, 255);
    background-color: #DAB041;
    font-weight: 800;
    border-radius: 20px;
    width: 249px;
    text-align: center;
    padding: 2px;
    margin-bottom: 15px;

}
.title h1{
    font-size: 24px;
    
}

.first-column{
    margin-right: 150px;
}


.entradas-container{
    background-color: #FFF6DE;
    margin: 11px;
    border-radius: 10px;
    width: 400px;
    height: 290px;

}
.entradas-container li{
    display: flex;

}

.icone-prato img{
    margin-left: -17px;
}

.container-titulo-descricao{
    margin-left: 9px;
    margin-right: 10px;

    
}

.titulo-prato h1{
    font-weight: 700;
    font-size: 15px;
}
.descricao-prato h2{
    font-weight: 300;
    font-size: 12px;
    width: 180px;
}


.preco-prato h1{
    font-weight: 700;
    font-size: 24px;
}


.principais-container{
    background-color: #FFF6DE;
    margin: 11px;
    border-radius: 10px;
    width: 400px;
    height: 290px;

}




.principais-container li{
    display: flex;
}
.sobremesas-container{
    background-color: #FFF6DE;
    margin: 11px;
    border-radius: 10px;

}
.bebidas-container{
    background-color: #FFF6DE;
    margin: 11px;
    border-radius: 10px;
}

@keyframes transitionIn{
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}